.footer_section {
    background: #1F1F1F;
    color: #ffffff;
    height: auto;
  padding-top: 50px;
}

.footer_links {
    margin-top: 30px;
}

.footer_links li {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    margin: 10px 0px;
}

.footer_line {
    margin-top: 120px;
}

.footer_heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
}